.DailyNoteTracker{
    background-color: #3DA577;
}
.DailyNoteTracker p{
    margin-top: 16px;
    font-weight: bold;
    font-size: 25px;
    color: white;
    font-family: Montserrat;
    word-spacing: 2px;
}
.DailyTrackerImage{
padding: 14px;
}
.DailyTrackerImage img{
    margin-left: 15px;
}

/* style button and active */
button{
    width: 100%;
    border: none;
    background: none;
    
}
.buttonActive{
    background-color: rgba(4, 16, 18, 0.2);
}

/* style note tab */
.DailyNotes{
    padding-top: 5px;
}
.DailyNotes p{
    margin-left: 12px;
    margin-top: 1px;
    color: #806BFF;
    
}
.DailyNotesImage{
    background-color: #806BFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.DailyNotesImage img{
    padding: 10px; 
}
.DailyNotes:hover{
    padding: 10px;
    background-color: rgba(4, 16, 18, 0.4);
    transition: 0.2s;
}

/* style BookMarks tab */
.BookMarks{
    padding-top: 5px;
}
.BookMarks p{
    margin-left: 12px;
    margin-top: 1px;
    color: #FF6B6B;
    font-size: 25px;
    font-family: Montserrat;
}
.BookMarksImage{
    background-color: #FF6B6B;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.BookMarksImage img{
    padding: 11px; 
}
.BookMarks:hover{
    padding: 10px;
    background-color: rgba(4, 16, 18, 0.4);
    transition: 0.2s;
}