.NoteContainer{
  background-color: rgba(255, 255, 255, 0.1);
  height: 520px;
  padding: 15px;
  overflow: auto;
}
.notes{
  /* padding: 10px; */
  background-color: #F0F0F0;
  border-radius: 8px;
  margin-top: 10px;
  
  
}
.note{
  color: rgb(77, 69, 69);
  margin-top: 15px;
  margin-left: 10px;
  font-size: 20px;
  font-family: Montserrat;
  width: 98%;
  padding-right: 30px;
  padding-left: 20px;
  text-align: justify;
}
.date  p{
  float: right;
  margin-bottom: 5px;
  margin-right: 3px;
  margin-top: 5px;
  font-size: 16px;
  padding-right: 20px;
  font-weight: 500;
  font-family: Montserrat;
  font-style: Regular;
}


/* width */
::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(255, 255, 255, 0.1);
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 2px rgb(29, 25, 25);  */
  /* border-radius: 10px; */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #F0F0F0; 
  /* border-radius: 10px; */
}

